<!DOCTYPE html>
<html>

<head>
    <title>Index des professions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link href="{% static 'web/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'web/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'web/js/chroma.min.js' %}"></script>
    <link rel="icon" href="{% static 'web/img/favicon.svg' %}" />
    <link href="{% static 'fontawesome_free/css/all.min.css' %}" rel="stylesheet" type="text/css">
</head>

<body>
    
    <nav class="navbar navbar-light" style="background-color: #0F417A;">

        <a class="navbar-brand text-white px-4 m-0 h1">
            Index des professions
        </a>
        <span class="d-none d-sm-block navbar-text text-white px-2">
        <a href="/api/swagger-ui/"
                class="btn btn-primary" style="background-color: #8DB0E1; border-color:  #8DB0E1"
                data-placement="bottom" data-bs-toggle="popover" data-trigger="hover focus"
                data-content="API">API</a>
        </span>

    </nav>
    <div class="container">
        <div class="row mt-4" id="section_informations">
            <div class="col col-lg">
                <div class="card w-100">
                    <div class="card-body">
                        <h5 class="card-title">Informations</h5>
                        <form id="formulaire_index" autocomplete="off" accept-charset="utf-8" class="needs-validation"
                            novalidate>
                            <div class="row">
                                <div class="col-12 col-sm-6">
                                    <div class="form-group" style="position: relative;">
                                        <div class="row justify-content-between mb-2">
                                            <div class="col-auto">
                                                <label for="libelle">Libellé de profession :</label>
                                            </div>
                                            <div class="col-auto">
                                                <div class="row justify-content-between">
                                                    <div class="col-auto"><span class="fa fa-male fa-2x" id="homme"
                                                            style="color: #286AC7;" onclick="changerSexe(0);"></span>
                                                    </div>
                                                    <div class="col-auto"><input class="custom-range" type="range"
                                                            id="sexe" min="0" max="1" value="0"
                                                            onchange="changerSexe(this.value);"
                                                            oninput="changerSexe(this.value);"></div>
                                                    <div class="col-auto"><span class="fa fa-female fa-2x" id="femme"
                                                            style="color: #B0AEAE;" onclick="changerSexe(1);"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <input type="text" class="form-control" id="libelle" placeholder="Libellé">
                                        <div id="libelle_validite" class="invalid-feedback">Invalide</div>
                                        <ul id="search_auto" , class="list-group w-100"
                                            style="position:absolute; z-index: 10; max-height: 300px; overflow-y: auto;">
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group mb-2" id="statut" onchange="depilerVariablesAnnexes();">
                                        <label>Statut :</label>
                                        <select class="form-select">
                                            <option value=0 selected></option>
                                            <option value=1>Indépendant (y compris gérant de société ou chef
                                                d'entreprise salarié)</option>
                                            <option value=2>Salarié</option>
                                            <option value=3>Aide-familial (travail non-rémunéré avec un membre de sa
                                                famille)</option>
                                        </select>
                                    </div>
                                    <div class="form-group mb-2" id="pub" onchange="depilerVariablesAnnexes();">
                                        <label>Nature de l'employeur :</label>
                                        <select class="form-select">
                                            <option value=1 selected>Fonction publique (d'État, territoriale,
                                                hospitalière)</option>
                                            <option value=2>Autre employeur (entreprise, association, de
                                                particulier, etc.)</option>
                                        </select>
                                    </div>
                                    <div class="form-group mb-2" id="position_pub" onchange="depilerVariablesAnnexes();">
                                        <label>Position professionnelle :</label>
                                        <select class="form-select">
                                            <option value=0 selected></option>
                                            <option value=1>Agent de catégorie A de la fonction publique</option>
                                            <option value=2>Agent de catégorie B de la fonction publique</option>
                                            <option value=3>Agent de catégorie C de la fonction publique</option>
                                        </select>
                                    </div>
                                    <div class="form-group mb-2" id="position_priv" onchange="depilerVariablesAnnexes();">
                                        <label>Position professionnelle :</label>
                                        <select class="form-select">
                                            <option value=0 selected></option>
                                            <option value=1>Manoeuvre, ouvrier spécialisé</option>
                                            <option value=2>Ouvrier qualifié, technicien d'atelier</option>
                                            <option value=3>Employé de bureau, de commerce, de services</option>
                                            <option value=4>Agent de maîtrise (y. c. administrative ou commerciale)
                                            </option>
                                            <option value=5>Technicien</option>
                                            <option value=6>Ingénieur, cadre d'entreprise</option>
                                        </select>
                                    </div>
                                    <div class="form-group mb-2" id="nbsal" onchange="depilerVariablesAnnexes();">
                                        <label>Nombre de personnes travaillant dans l'entreprise :</label>
                                        <select class="form-select">
                                            <option value=0 selected></option>
                                            <option value=1>Entre 1 et 10 personnes</option>
                                            <option value=2>Entre 11 et 49 personnes</option>
                                            <option value=3>50 personnes ou plus</option>
                                        </select>
                                    </div>
                                    <div class="d-flex justify-content-end"">
                                            <button class="btn btn-success" id="bouton_coder" type="button">Coder</button>

                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="section_codage">
            <div class="col col-lg gy-4 mb-2">
                <div class="card w-100">
                    <div class="card-body">
                        <h5 class="card-title">Codage</h5>
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                <button  class="nav-link active" id="nav-code-tab" data-bs-toggle="tab" data-bs-target="#nav-code"
                                    type="button" role="tab"  aria-controls="nav-home" aria-selected="true">Code</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                <button class="nav-link" id="nav-arbre-tab" data-bs-toggle="tab" data-bs-target="#nav-arbre"
                                type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Arbre de décision</button>
                                </li>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-code" role="tabpanel"
                                aria-labelledby="nav-code-tab"></div>
                            <div class="tab-pane fade" id="nav-arbre" role="tabpanel" aria-labelledby="nav-arbre-tab">
                                <object  type="image/svg+xml" id="arbresvg"
                                    width="100%" height="100%"></object>
                                <div class="container" id="legende_tree">
                                    <h6>Légende : </h6>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        NG_STATIC_FILES = {
           "LARGE_TREE": "{% static 'web/img/arbre-large.svg' %}",
           "LONG_TREE": "{% static 'web/img/arbre-long.svg' %}",
        };
    </script>
     <script src="{% static 'web/js/index_profession.js' %}"></script>
</body>

</html>
